* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    font-family: 'Abadi MT Condensed Light', sans-serif;
}

.mySlides {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow-container,
.slideshow-container2,
.slideshow-container3,
.slideshow-container4,
.slideshow-container5,
.slideshow-container6 {
    margin-left: 1.5cm;
    width: 45%;
    text-align: center;
    padding: 50px;
    display: inline-block;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    text-align: center;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.navbar {
    height: 80px;
    overflow: hidden;
    background-color: rgb(137, 210, 220);
    font-size: 1.2em;
    font-weight: bolder;
}

.navbar a:hover {
    font-size: 1.1em;
    background-color: white;
    color: rgb(137, 210, 220);
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 34px 16px;
    text-decoration: none;
    transition: font-size 0.5s ease-in-out;
}

.logo {
    float: left;
}

.pages {
    float: right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgb(137, 210, 220);
    color: white;
}

.column {
    display: inline-block;
    width: 30%;
    margin: 0.66%;
    vertical-align: top;
}

.map-container {
    display: flex;
    margin: 50px;
    padding: 20px;
    background-color: #f1f1f1;
    box-shadow: 5px 5px 10px grey;
    border: 2px solid black;
}

.map-container iframe {
    border: none;
    height: 600px;
    width: 800px;
}

.map-container h1 {
    font-size: 24px;
    margin-left: 20px;
}

.map-container .contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 20px;
}

.map-container .contact-info a {
    font-size: 18px;
    margin: 10px 0;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 100vh;
}

tr {
    height: 33.33%;
    border-bottom: 10px solid #897e7e;
}

td {
    padding: 20px;
    vertical-align: middle;
}

.map-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.text-box {
    padding: 20px;
}

.text-box h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.text-box p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.video-iframe {
    display: block;
    width: 50%;
    height: 50%;
}

.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    opacity: 0;
    animation: fadeIn 2s forwards;
    width: 100%;
}

.section:nth-child(odd) {
    background-color: #f2f2f2;
}

.section:nth-child(even) {
    background-color: #d9d9d9;
}

.section .content {
    width: 50%;
    padding: 50px;
    color: #333;
    font-size: 1.2em;
}

.section .content h2 {
    margin-top: 0;
    font-size: 2.2em;
    color: #2f5597;
}

.section .content p {
    line-height: 1.5;
    margin-bottom: 20px;
}

.section .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    opacity: 0;
    animation: fadeIn 2s forwards;
    width: 100%;
}

.section2:nth-child(odd) {
    background-color: #f2f2f2;
}

.section2:nth-child(even) {
    background-color: #d9d9d9;
}

.section2 .content {
    width: 50%;
    padding: 50px;
    color: #333;
    font-size: 1.2em;
}

.section2 .content h2 {
    margin-top: 0;
    font-size: 2.2em;
    color: #2f5597;
}

.section2 .content p {
    line-height: 1.5;
    margin-bottom: 20px;
}

.section2 .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section:nth-child(odd) .image {
    background-image: url('painting.jpeg');
}

.section:nth-child(even) .image {
    background-image: url('wallpapering.png');
}

.section2:nth-child(odd) .image {
    background-image: url('spraying.webp');
    background-position: left;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.color-block {
    background-color: lightgrey;
    height: 600px;
}

.color-blockk {
    background-color: peachpuff;
    height: 600px;
}

image-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

label {
    font-weight: bold;
}

h1 {
    text-align: center;
}

.container {
    margin: 50px;
    max-width: 1700px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

.review {
    background-color: #ffffff;
    box-shadow: 0px 2px 6px rgba(12, 0, 0, 0.1);
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 20px;
    width: calc(60% - 10px);
}

.review__name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.review__date {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.review__stars {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.review__stars img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.review__message {
    font-size: 18px;
    line-height: 1.5;
}

.review__message::before {
    content: '"';
}

.review__message::after {
    content: '"';
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.btn:hover {
    background-color: #333;
}

h1 {
    color: #000000;
    font-size: 36px;
}

@media (min-width: 768px) {
    h1 {
        font-size: 80px;
    }
}

section {
    padding: 90px 15px;
}

.container2 {
    max-width: 1800px;
    margin: 0 auto;
}

.banner {
    background: linear-gradient(90deg, rgba(137, 210, 220), rgba(0, 0, 0, 0.5)), url(../img/banner.jpg) no-repeat;
    background-position: top right;
    background-size: cover;
}

.banner h1 {
    color: rgba(255, 255, 255, 0.85);
    text-transform: uppercase;
    font-weight: 700;
}

.banner p {
    color: #FFFFFF;
    font-size: 1.375rem;
    letter-spacing: 1.5px;
    font-weight: 100;
    text-shadow: 2px 2px 7px #222222;
}